html {
  direction: ltr;
  text-align: left;
}
nav ul {
  width: 60%;
  text-align: left;
  font-weight: 500;
}
#home .container .log-container {
  height: 30%;
  margin-bottom: 0;
}
#home .container .arabic-man-container .welcom {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
}
#home .container .arabic-man-container .welcom h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0;
}
#who-us .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2efe8;
  justify-content: flex-start;
  background-image: url("../images/flib.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  text-align: left;
}
#who-us .container .who-us-text {
  width: 50%;
  margin-right: 0;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

#who-us .container .who-us-text h1 {
  text-align: left;
  white-space: nowrap;
}
#who-us .container .who-us-text p {
  text-align: left;
  white-space: wrap;
}
.creativity-title {
  text-align: center;
  flex-direction: row-reverse;
}
.creativity-title h1 {
  text-align: center;
  white-space: nowrap;
}
#creativity .container .boxs .box p {
  font-size: 1rem;
  text-align: left;
}
#team .container .team-img .team-p-container p {
  text-align: center;
  font-size: 1rem;
}
.team-des-ar {
  display: none;
}
#team .container .team-img .team-p-container {
  width: 65%;
  right: 15%;
}

#servies .servies-title {
  display: flex;
  flex-direction: row-reverse;
}
#servies .servies-title h1 {
  font-size: 3rem;
}
#multi .container .right-container {
  margin-left: 5%;
  margin-right: 0;
}
#multi .container .left-container p:first-child {
  text-align: left;
}
#multi .container .left-container :nth-child(2) {
  text-align: left;
}
#multi .meulti-head-en {
  display: block;
}
#multi .meulti-head-ar {
  display: none;
}
#multi .container .left-container :nth-child(4) {
  /* padding: 2.5%; */
  margin-top: 5%;
  font-size: 17rem;
  font-weight: 700;
  line-height: 194.63px;
  text-align: right;
  color: #b1414d;
}
#multi .multi-container-2-header {
  width: 95%;
  overflow: hidden;
  margin-left: 5%;
  letter-spacing: 0.53em;
  text-align: center;
}
#complete .container .types-of-visual li:last-child {
  letter-spacing: 0.53em;
}

footer div .form form {
  flex-direction: row;
}
footer div .form form input {
  padding: 2%;
}
footer div .form form button {
  padding: 1%;
  width: 25%;
}
footer div .foot-nav {
  align-items: flex-start;
}
footer div .foot-nav li a {
  text-align: left;
}
@media (max-width: 768px) {
  #home .container .arabic-man-container .welcom {
    display: none;
  }
  #who-us .container {
    background-image: none;
  }
  #who-us .container .who-us-text {
    width: 100%;
  }
  #servies .servies-title h1 {
    font-size: 2rem;
    width: 40%;
  }
  #servies .servies-title .right {
    width: 25%;
  }
  #servies .container .box-serves p {
    margin-top: 15%;
  }
  #servies .container .box-serves h4 {
    width: 100%;
  }
  #multi .container .left-container :nth-child(4) {
    font-size: 8rem;
    text-align: left;
  }
  #multi .container .left-container p:first-child {
    font-size: 3.5rem;
  }
  #media .container .box-media p {
    font-weight: 400;
  }
  footer div .form form {
    flex-direction: column;
  }
  footer div .form form button {
    width: 35%;
  }
  footer div .foot-nav {
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #creativity .container .boxs .box .box-header h3 {
    text-align: left;
  }
  #creativity .container .boxs .box p {
    font-size: "1.5rem";
  }
  #creativity .container .images {
    margin-top: 35%;
  }
  #creativity .container .boxs {
    height: 330px;
  }
  #media .container .box-media h4 {
    width: 100%;
  }
  #media .container .box-media .creative-container {
    top: -5.5%;
  }
  #multi .container .left-container :nth-child(4) {
    font-size: 10rem;
    text-align: left;
  }
  .visual-container {
    width: 90%;
  }
  .visual-container .visual-content-p {
    width: 100%;
    text-align: left;
  }
  #complete .container .types-of-visual {
    width: 90%;
  }
  #before-footer {
    height: 70vh;
  }
  #before-footer .container p {
    width: 90%;
  }
  footer div .form form button {
    width: 40%;
  }
  footer div .foot-nav {
    width: 30%;
  }
}
