* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: #edeae3;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  position: relative;
}
a {
  text-decoration: none;
  color: #333;
}
header {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f2efe8;
}
.mobile-nav {
  display: none;
}
.menu {
  display: none;
}
.active {
  display: block;
}

#burger {
  z-index: 1000;
  width: 100%;
  height: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b1414d;
  opacity: 0.8;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  background-color: #f2efe8;
}
nav ul {
  list-style: none;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  width: 100%;
  text-align: center;
}
nav ul li a {
  font-size: 1.2rem;
}
nav ul li a:hover {
  color: #b1414d;
}
.languages {
  width: 10%;
}

.container {
  height: 100%;
  margin: 0 auto;
}

#home .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/sectionone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  overflow: hidden;
}
#home .container .log-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
  height: 50%;
}
.welcom-mob {
  display: none;
}

#home .container h1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: center;
  color: #b1414d;
  white-space: nowrap;
}

#home .container .arabic-man-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#home .container .arabic-man-container .welcom {
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  top: -11.1%;
  right: 0;
  z-index: 1;
}

#home .container .arabic-man-container img {
  z-index: 2;
}
#home .container .line {
  width: 100%;
}
#who-us .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2efe8;
  justify-content: flex-start;
  background-image: url("../images/section-tow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#who-us .container .who-us-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 5%;
  height: 100%;
  width: 50%;
  position: relative;
}
#who-us .container .who-us-text h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: right;
  color: #b1414d;
  white-space: nowrap;
}
#who-us .container .who-us-text ul li:first-child {
  margin-right: 2%;
}

#who-us .container .who-us-text ul li:first-child::marker {
  font-size: 2.25em;
  color: #b1414d;
}

#who-us .container .who-us-text ul li {
  height: 30%;
}

#who-us .container .who-us-text p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45.93px;
  text-align: right;
  color: black;
  white-space: nowrap;
}

#who-us .container .line {
  width: 100%;
}
#creativity .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2efe8;
  justify-content: center;
  position: relative;
}
.creativity-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#creativity .container h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: center;
  color: #b1414d;
  white-space: nowrap;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
#creativity .container .boxs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 256px;
  position: absolute;
  top: 20%;
  z-index: 10;
}
#creativity .container .boxs .box {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5%;
  border: 2px solid black;
}
#creativity .container .boxs .box .box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#creativity .container .boxs .box .box-header h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  text-align: right;
}
#creativity .container .boxs .box p {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 33px;
  text-align: right;
}

#creativity .container .images {
  margin-top: 7%;
  width: 100%;
  z-index: 5;
  position: relative;
}
#creativity .container .images img {
  width: 100%;
  height: 100%;
}
#creativity .container .images .cross-line {
  width: 100%;
  position: absolute;
  bottom: -28%;
  right: 0;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #b1414d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2efe8;
  justify-content: center;
  position: relative;
}
#team .container h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: center;
  color: #b1414d;
  white-space: nowrap;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#team .container .team-img {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#team .container .team-img img {
  width: 100%;
  height: 100%;
}
#team .container .team-img .team-p-container {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10%;
  right: 35%;
  display: flex;
  height: 10%;
}
#team .container .team-img .team-p-container p {
  width: 100%;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 33px;
  text-align: center;
  color: black;
}
#team .container .team-img .team-p-container p span {
  font-weight: 700;
  color: #b1414d;
}

#team .container .line {
  width: 100%;
}

#servies .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b1414d;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#servies .servies-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: #f2efe8;
  position: relative;
}
#servies .servies-title h1 {
  width: 30%;
  font-size: 4rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: center;
  color: #f2efe8;
  white-space: nowrap;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

#servies .servies-title .right {
  width: 32.5%;
}
#servies .container .box-serves {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5%;
  align-items: center;
  width: 40%;
  border: 1px solid #f2efe8;
  position: relative;
}
#servies .container .box-serves .digital-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #b1414d;
  position: absolute;
  top: -10.5%;
  left: 25%;
}
#servies .container .box-serves-p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2efe8;
  font-weight: 400;
  text-align: right;
}

#servies .container .box-serves h4 {
  width: 80%;
  color: #f2efe8;
  background-color: #7e181e;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#servies .container .box-serves p {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #f2efe8;
}

#servies .markting-container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
#servies .markting-container .step .step-p {
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  font-size: 1.4rem;
  background-color: #7e181e;
  border-top-right-radius: 30.71px;
  color: #f2efe8;
  position: relative;
}
#servies .markting-container .step .step-p::before {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent #f2efe8 transparent transparent;
}
#servies .markting-container .step .step-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#servies .container .line {
  width: 100%;
}
#media {
  background-color: #b1414d;
}

#media .container {
  display: flex;
  flex-direction: column;
}
#media .container .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #b1414d;
  justify-content: center;
  position: relative;
}
#media .container .media-container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#media .container .lamp-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#media .container .lamp-container img {
  width: 50%;
}
#media .container .box-media {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  align-items: center;
  width: 80%;
  height: 50%;
  border: 1px solid #f2efe8;
  color: #f2efe8;
  text-align: center;
  position: relative;
}
#media .container .box-media .creative-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #b1414d;
  position: absolute;
  top: -10.5%;
  left: 25%;
  color: #f2efe8;
}
#media .container .box-media p {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #f2efe8;
}

#media .container .box-media-p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2efe8;
  font-weight: 400;
  text-align: right;
  /* margin-top: 5%; */
}

#media .container .box-media-p p {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
  font-size: 1.4rem;
  background-color: #7e181e;
  border-top-right-radius: 30.71px;
  margin-bottom: 5%;

  position: relative;
}

#media .container .box-media-p p::before {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent #f2efe8 transparent transparent;
}
#media .container .box-media h4 {
  width: 80%;
  color: #f2efe8;
  background-color: #7e181e;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#media .container .content-box p {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #f2efe8;
}
#media .container .images {
  background-color: #b1414d;
  position: relative;
}

#media .container .images img {
  width: 100%;
  position: absolute;
  top: -30%;
  left: 0;
}

#multi {
  width: 100%;
  background-image: url("../images/medi-section.png");
  background-color: #edeae3;
}
#multi .container {
  display: flex;
}
#multi .container .right-container {
  margin-right: 5%;
  width: 25%;
  height: 100%;
  background-color: #b1414d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#multi .container .right-container:first-child {
  margin-top: 5%;
}
#multi .container .right-container p {
  /* margin-top: 3%; */
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 80px;
  text-align: center;
  color: #f2efe8;
}
#multi .container .left-container {
  width: 60%;
  margin-top: 2%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#multi .container .left-container p:first-child {
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  line-height: 114.27px;
  text-align: right;
  color: #b1414d;
}
#multi .container .left-container :nth-child(2) {
  padding: 1%;
  width: 100%;
  height: 70%;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 71.43px;
  text-align: right;
}
#multi .container .left-container :nth-child(3) {
  margin-top: 5%;
  font-size: 10rem;
  font-weight: 700;
  line-height: 194.63px;
  text-align: center;
  color: #b1414d;
}
#multi .container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#multi .multi-container-2-header {
  width: 100%;
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
  color: #333333;
}
#multi .meulti-head-en {
  display: none;
}
#complete {
  width: 100%;
  background-color: #f2efe8;
}
#complete .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#complete .container .multi-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#complete .container .multi-list li {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2.5%; */
  padding: 1px;
  font-size: 1.4rem;
  background-color: #b1414d;
  border-top-right-radius: 30.71px;
  margin-bottom: 5%;
  position: relative;
  color: #f2efe8;
}
#complete .container .multi-list li:before {
  content: "";
  position: absolute;
  top: 30%;
  right: -10%;
  border-width: 0.6rem;
  border-style: solid;
  border-color: transparent #000000 transparent transparent;
}
.visual-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visual-container .visual-content-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbceb0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 92.4px;
  text-align: right;
  color: #b1414d;
  margin-bottom: 2%;
}
.visual-container .visual-content-p {
  width: 65%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 57.04px;
  text-align: center;
}
#complete .container .types-of-visual {
  list-style: none;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
}
#complete .container .types-of-visual li {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px;
  font-size: 1.4rem;
  background-color: #b1414d;
  border-top-right-radius: 30.71px;
  margin-bottom: 5%;
  position: relative;
  color: #f2efe8;
}
#complete .container .types-of-visual li:last-child {
  width: 100%;
}
#complete .container .types-of-visual li::before {
  content: "";
  position: absolute;
  top: 30%;
  right: -10%;
  border-width: 0.6rem;
  border-style: solid;
  border-color: transparent #000000 transparent transparent;
}
#complete .container .types-of-visual li:last-child::before {
  content: "";
  position: absolute;
  top: 30%;
  right: -3%;
  border-width: 0.6rem;
  border-style: solid;
  border-color: transparent #000000 transparent transparent;
}
#before-footer {
  width: 100%;
  height: 100vh;
  background-color: #b1414d;
  background-image: url("../images/befor-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#before-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#before-footer .container p {
  width: 60%;
  font-size: 3rem;
  font-weight: 500;
  line-height: 82.93px;
  text-align: center;
  color: #f2efe8;
  margin-top: 3%;
  margin-bottom: 3%;
}
footer {
  width: 100%;
  height: 10%;
  background-color: #b1414d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-image: url("../images/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f2efe8;
  /* margin-bottom: 2.5%; */
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
footer div .foot-nav {
  width: 20%;
  height: 100%;
  color: #f2efe8;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer div .foot-nav li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #f2efe8;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 42.32px;
  text-align: right;
}
footer div .logo {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer div .logo img {
  margin-bottom: 5%;
}
footer div .logo .list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer div .form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer div .form form {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
footer div .form form input {
  width: 70%;
  height: 100%;
  padding-right: 5%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 42.32px;
  text-align: right;
  border: none;
  border-radius: 30.71px;
}
footer div .form form button {
  width: 20%;
  height: 100%;
  background-color: #333;
  color: #f2efe8;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 42.32px;
  text-align: center;
  border: none;
  border-radius: 30.71px;
}
@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .mobile-nav {
    display: flex;
    width: 100%;
    padding: 2.5%;
  }
  .mobile-nav button {
    width: 20%;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .mobile-nav div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .log-container img {
    display: none;
  }
  .rabic-man-container {
    width: 100%;
    height: 100%;
  }
  section {
    overflow: hidden;
    width: 100%;
  }
  .welcom {
    display: none;
  }
  .welcom-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    /* margin-right: 8%; */
  }
  #home .container .welcom-mob h1 {
    text-align: center;
    white-space: wrap;
    line-height: normal;
    margin: 0;
  }
  #home .container .arabic-man-container img {
    margin-left: 8%;
  }
  .arabic-man-container .arabic-man {
    width: 80%;
  }
  #home .mob-line-cont {
    width: 100%;
  }
  #home .arabic-man-container .line {
    width: 100%;
    height: 100%;
  }
  #home .container .line {
    width: auto;
  }
  #who-us .container .who-us-text h1 {
    margin: 0;
    text-align: center;
  }
  #who-us .container .who-us-text {
    align-items: center;
    white-space: wrap;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 100%;
  }
  #who-us .container .who-us-text ul {
    list-style: none;
  }
  #who-us .container .who-us-text ul li {
    width: 100%;
    text-align: center;
  }

  #who-us .container .who-us-text p {
    font-size: 1rem;
  }
  #who-us .container .line {
    width: auto;
  }
  #creativity .container {
    display: flex;
    flex-direction: column;
  }
  #creativity .container .creativity-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #creativity .container .creativity-title h1 {
    font-size: 2rem;
    line-height: 82.93px;
    text-align: center;
    white-space: nowrap;
    margin-left: 5%;
    margin-right: 5%;
  }

  #creativity .container .boxs {
    position: static;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
  }
  #creativity .container .boxs .box {
    width: 80%;
    margin-bottom: 5%;
  }
  #creativity .container .images img {
    margin-bottom: 13%;
  }
  #team .container .team-img {
    display: flex;
    flex-direction: column-reverse;
  }
  #team .container .team-img .team-p-container {
    width: 75%;

    position: static;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  #team .container .team-img .team-p-container p {
    font-size: 1.8rem;
    line-height: 39px;
  }
  #team .container .line {
    width: auto;
  }
  #servies .servies-title h1 {
    font-size: 3rem;
  }
  #servies .container .box-serves {
    width: 90%;
  }
  #servies .container .box-serves p {
    margin-top: 5%;
  }
  #servies .markting-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #servies .markting-container .step {
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #servies .markting-container .step .step-p {
    width: 70%;
  }
  #servies .container .line {
    width: auto;
  }
  #media .container .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #media .container .media-container {
    width: 90%;
    margin-top: 15%;
  }
  #media .container .box-media {
    width: 90%;
  }
  #media .container .box-media p {
    margin-top: 10%;
  }
  #media .container .box-media .creative-container {
    width: 60%;
    top: -5.5%;
    left: 20%;
  }
  #media .container .box-media-p {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  #media .container .lamp-container img {
    width: 75%;
  }
  #media .container .lamp-container {
    width: 100%;
    margin-bottom: 20%;
  }
  #media .container .container {
    display: flex;
    flex-direction: column;
  }
  #media .container .line {
    width: auto;
  }
  #multi .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #multi .container .right-container {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
  }
  #multi .container .left-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  #multi .container .left-container p:first-child {
    font-size: 3rem;
  }
  #multi .container .left-container :nth-child(2) {
    width: 100%;
    text-align: center;
  }
  #multi .container .left-container :nth-child(3) {
    font-size: 7rem;
    text-align: center;
  }
  #multi .multi-container-2-header {
    font-size: 4rem;
  }
  #complete .container .multi-list {
    flex-direction: column;
    align-items: center;
  }
  #complete .container .multi-list li {
    width: 65%;
    margin-bottom: 5%;
  }
  .visual-container .visual-content-container {
    font-size: 2rem;
    width: 100%;
    line-height: normal;
  }
  .visual-container .visual-content-p {
    width: 100%;
    font-size: 1.2rem;
  }
  #complete .container .types-of-visual {
    flex-direction: column;
    align-items: center;
  }
  #complete .container .types-of-visual li {
    width: 100%;
  }
  #complete .container .types-of-visual li:last-child {
    text-align: center;
  }
  #complete .container .types-of-visual li:last-child::before {
    right: -10%;
  }
  #before-footer {
    width: 100%;
    height: 70vh;
    background-color: #b1414d;
    background-image: url("../images/before-footer-mob.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #before-footer .container p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 42.14px;
    text-align: center;
  }
  footer div {
    display: flex;
    flex-direction: column;
  }
  footer div .form {
    width: 100%;
  }
  footer div .form h1 {
    text-align: center;
  }
  footer div .form form {
    width: 100%;
    flex-direction: column;
  }
  footer div .form form button {
    width: 35%;
    margin-top: 3%;
  }
  footer div .foot-nav {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  footer div .foot-nav li a {
    font-size: 1.8rem;
    line-height: normal;
    margin-top: 3%;
  }
  footer div .logo {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  footer div .logo img {
    width: 100%;
    /* height: 100%; */
  }
  footer div .logo .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  footer div .logo .list ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  footer div .logo .list ul li {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
  }

  footer div .logo .list ul li a {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    width: 45%;
  }
  #home .container h1 {
    font-size: 1.7rem;
  }
  .languages {
    width: 20%;
  }
  #who-us .container .who-us-text p {
    font-size: 1.25rem;
  }
  #creativity .container .images {
    margin-top: 25%;
  }
  #creativity .container .boxs .box {
    width: 30%;
  }
  #creativity .container .boxs .box p {
    font-size: 1.1rem;
  }
  .creativity-title {
    justify-content: center;
  }
  #creativity .container h1 {
    font-size: 3rem;
  }
  #team .container .team-img .team-p-container {
    width: 60%;
    right: 15%;
  }
  #servies .container .box-serves {
    width: 60%;
  }
  .step {
    width: 40%;
  }
  #servies .markting-container {
    justify-content: space-between;
  }
  #servies .markting-container .step .step-img img {
    width: 100%;
  }
  #multi .multi-container-2-header {
    font-size: 9rem;
  }
  #complete .container .multi-list li {
    width: 27%;
  }
  .visual-container .visual-content-container {
    width: 100%;
  }
}
