* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: #edeae3;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
header {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
}
nav ul {
  list-style: none;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  width: 100%;
  text-align: center;
}
nav ul li a {
  font-size: 1.2rem;
}
nav ul li a:hover {
  color: #b1414d;
}
.languages {
  width: 10%;
}

.container {
  /* max-width: 1441px; */
  height: 100%;
  margin: 0 auto;
}

#home .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/sectionone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  overflow: hidden;
}
#home .container .log-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
  height: 50%;
}
#home .container h1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: center;
  color: #b1414d;
  white-space: nowrap;
}

#home .container .arabic-man-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#home .container .arabic-man-container .welcom {
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  top: -11.1%;
  right: 0;
  z-index: 1;
}

#home .container .arabic-man-container img {
  z-index: 2;
}
#home .container .line {
  width: 100%;
}
#who-us .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #edeae3;
  justify-content: flex-start;
  background-image: url("../images/section-tow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#who-us .container .who-us-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 5%;
  height: 100%;
  width: 50%;
  position: relative;
}
#who-us .container .who-us-text h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: right;
  color: #b1414d;
  white-space: nowrap;
}
#who-us .container .who-us-text ul li:first-child {
  margin-right: 2%;
}
#who-us .container .who-us-text ul li:first-child::before {
  content: "";
  width: 10%;
  background-color: #b1414d;
  height: 5px;
  display: block;
  top: 16%;
  left: 103%;
  position: absolute;
}
#who-us .container .who-us-text ul li:first-child::marker {
  font-size: 2.25em;
  color: #b1414d;
}

#who-us .container .who-us-text ul li {
  height: 30%;
}

#who-us .container .who-us-text p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45.93px;
  text-align: right;
  color: black;
  white-space: nowrap;
}

#who-us .container .line {
  width: 100%;
}
#creativity .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edeae3;
  justify-content: center;
  position: relative;
}
.creativity-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#creativity .container h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: center;
  color: #b1414d;
  white-space: nowrap;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
#creativity .container .boxs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 256px;
  position: absolute;
  top: 20%;
  z-index: 10;
}
#creativity .container .boxs .box {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5%;
  border: 2px solid black;
}
#creativity .container .boxs .box .box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#creativity .container .boxs .box .box-header h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  text-align: right;
}
#creativity .container .boxs .box p {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 33px;
  text-align: right;
}

#creativity .container .images {
  margin-top: 7%;
  width: 100%;
  z-index: 5;
  position: relative;
}
#creativity .container .images img {
  width: 100%;
  height: 100%;
}
#creativity .container .images .cross-line {
  width: 100%;
  position: absolute;
  bottom: -28%;
  right: 0;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #b1414d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edeae3;
  justify-content: center;
  position: relative;
}
#team .container h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: center;
  color: #b1414d;
  white-space: nowrap;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#team .container .team-img {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#team .container .team-img img {
  width: 100%;
  height: 100%;
}
#team .container .team-img .team-p-container {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10%;
  right: 35%;
}
#team .container .team-img .team-p-container p {
  width: 100%;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 33px;
  text-align: center;
  color: black;
}
#team .container .team-img .team-p-container p span {
  font-weight: 700;
  color: #b1414d;
}

#team .container .team-img .team-p-container .icon {
  height: auto;
  position: absolute;
  top: -10%;
  right: 0;
  z-index: 1;
}

#team .container .line {
  width: 100%;
}

#servies .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b1414d;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#servies .servies-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: #f2efe8;
  position: relative;
}
#servies .servies-title h1 {
  width: 30%;
  font-size: 4rem;
  font-weight: 700;
  line-height: 82.93px;
  text-align: center;
  color: #f2efe8;
  white-space: nowrap;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

#servies .servies-title .right {
  width: 32.5%;
}
#servies .container .box-serves {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5%;
  align-items: center;
  width: 40%;
  border: 1px solid #f2efe8;
  position: relative;
}
#servies .container .box-serves .digital-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #b1414d;
  position: absolute;
  top: -10.5%;
  left: 25%;
}
#servies .container .box-serves-p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2efe8;
  font-weight: 400;
  text-align: right;
}
#servies .container .box-serves-p p {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5%;
  font-size: 1.4rem;
  background-color: #7e181e;
  border-top-right-radius: 30.71px;
  position: relative;
}
#servies .container .box-serves-p p::before {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent #f2efe8 transparent transparent;
}
#servies .container .box-serves h4 {
  width: 80%;
  color: #f2efe8;
  background-color: #7e181e;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#servies .container .box-serves p {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #f2efe8;
}
#servies .container .serves-images {
  width: 70%;
  height: 30%;
  margin-bottom: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#servies .container .serves-images .img-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#servies .container .box-serves .serves-images img {
  width: 100%;
  height: 100%;
}
#servies .container .line {
  width: 100%;
}
#media {
  /* height: 100vh; */
  overflow: hidden;
}

#media .container {
  display: flex;
  flex-direction: column;
}
#media .container .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #b1414d;
  justify-content: center;
  position: relative;
}
#media .container .media-container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#media .container .lamp-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#media .container .lamp-container img {
  width: 50%;
}
#media .container .box-media {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  align-items: center;
  width: 80%;
  height: 50%;
  border: 1px solid #f2efe8;
  color: #f2efe8;
  text-align: center;
  position: relative;
}
#media .container .box-media .creative-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #b1414d;
  position: absolute;
  top: -10.5%;
  left: 25%;
  color: #f2efe8;
}
#media .container .box-media p {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #f2efe8;
}

#media .container .box-media-p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2efe8;
  font-weight: 400;
  text-align: right;
  /* margin-top: 5%; */
}

#media .container .box-media-p p {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
  font-size: 1.4rem;
  background-color: #7e181e;
  border-top-right-radius: 30.71px;
  margin-bottom: 5%;

  position: relative;
}

#media .container .box-media-p p::before {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent #f2efe8 transparent transparent;
}
#media .container .box-media h4 {
  width: 80%;
  color: #f2efe8;
  background-color: #7e181e;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#media .container .content-box p {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #f2efe8;
}
#media .container .images {
  width: 100%;
  position: relative;
  /* position: absolute; */
  /* right: 0; */
  /* bottom: -50%; */
}
#media .container .images img {
  width: 100%;
  height: 100%;
}
#media .container .images .cross-line-left {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
}
